{% load static i18n admin_tags  %}

<!-- Brand Logo -->
<a href="{% url 'home' %}" class="brand-link">
  <img src="{% static 'admin/img/jio-logo.png' %}" alt="" class="brand-image"
       style="opacity: .8">
  <span class="brand-text font-weight-light">DMS</span>
</a>

<!-- Sidebar -->
<div class="sidebar sidebar_collapse_remember">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a href="{% url 'documents' %}" class="nav-link {% activate_on 'documents, document_detail, home' %}">
          <i class="nav-icon fa fa-folder text-warning"></i>
          <p>
            {% trans "Documents" %}
          </p>
        </a>
      </li>
      {% if request.user|has_group:"reviewer" or request.user|has_group:"approver" %}
      <li class="nav-item">
        <a href="{% url 'inbox' %}" class="nav-link  {% activate_on 'inbox, inbox_detail' %}">
          <i class="nav-icon fa fa-inbox"></i>
          <p>
            {% trans "Inbox" %} ({% getinboxcount user %})
          </p>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a href="{% url 'upload_document' %}" class="nav-link  {% activate_on 'upload_document'  %}">
          <i class="nav-icon fa fa-upload"></i>
          <p>
            {% trans "Upload" %}
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'my_documents' %}" class="nav-link  {% activate_on 'my_documents, my_doc_detail, my_doc_change'  %}">
          <i class="nav-icon fa fa-folder"></i>
          <p>
            {% trans "My Documents" %}
          </p>
        </a>
      </li>
      {% if request.user.is_superuser %}
        <li class="nav-item">
          <a href="{% url 'departments' %}" class="nav-link  {% activate_on 'departments, department, add_department, dept_emps, department_change' %}">
            <i class="nav-icon fa fa-users"></i>
            <p>
              {% trans "Departments" %}
            </p>
          </a>
        </li>
      <li class="nav-item">
          <a href="{% url 'employees' %}" class="nav-link {% activate_on 'employees, employee, add_employee, employee_change' %}">
            <i class="nav-icon fa fa-user-friends"></i>
            <p>
              {% trans "Users" %}
            </p>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
